/* stand Vermelho */

.logoStand{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    left:867px;
    top: 14.5%;
    width: 220px;
    height: 134px;
   
    
    cursor: pointer;
    
    z-index: 100;
}
.logoStand a{
    width: 100%;
}

.imgLogoStand{
    background-position: center;
    background-size: contain;
    width: 220px;
    height: 134px;
    background-repeat: no-repeat;
}
.btnImageStand{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left:-10px;
    top: -90%;
    z-index: 6;
    
    width: 200px;
    height: 100px;
}
.btnPlayStand{
    position: absolute;
    left:60px;
    top: 20px;
    
    
    width: 50px;
    height: 50px;
    background-image: url("./../../icons/PlayIcon.png");
    
    border-radius: 50%;
    animation: pulseShadow 2s infinite;
    box-shadow: 0 0 0 0 rgb(255, 153, 0);
}
.divVideoStand{
    position: absolute;
    z-index:1;
    
    left:1071px;
    top: 34%;
    width: 168px;
    height: 95px;
    background-color: black;
    transition: 1s;
}
.divSiteStand{
    position: absolute;
    z-index:1;
    
    left:720px;
    top: 65%;
    width: 95px;
    height: 95px;
    background-color: black;
    transition: 1s;
    
}
.btnImageStandLink {
    left:-50px;
    top: -90%;
}
.divPdfStand{
    position: absolute;
    z-index:1;
    
    left:676px;
    top: 38%;
    width: 188px;
    height: 125px;
    background-color: black;
    transition: 1s;
    
}
.btnImageStandPdf {
    left:-7px;
    top: -70%;
}
