/* stand Vermelho */

.logoStand{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    left:914px;
    top: 29vh;
    width: 166px;
    height: 101px;
   /* background-color: rebeccapurple; */
    
    cursor: pointer;
    
    z-index: 100;
}
.logoStand a{
    width: 100%;
}

.imgLogoStand{
    background-position: center;
    background-size: contain;
    width: 166px;
    height: 101px;
    background-repeat: no-repeat;
}
.btnImageStand{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left:50px;
    top: -50%;
    z-index: 6;
    
    width: 200px;
    height: 100px;
}
.btnPlayStand{
    position: absolute;
    left:130px;
    top: 60px;
    
    
    width: 50px;
    height: 50px;
    background-image: url("./../../icons/playVerde.png");
    
    border-radius: 50%;
    animation: pulseShadow 2s infinite;
    box-shadow: 0 0 0 0 rgb(255, 153, 0);
}
.divVideoStand{
    position: absolute;
    z-index:1;
    
    left:605px;
    top: 43.5%;
    width: 297px;
    height: 168px;
    
    transition: 1s;
}
.divSiteStand{
    position: absolute;
    z-index:1;
    
    left:1250px;
    top: 42vh;
    width: 95px;
    height: 10vh;
    
    transition: 1s;
    
}
.btnImageStandLink {
    left:-10px;
    top: -12vh;
   
}
.divPdfStand{
    position: absolute;
    z-index:1;
    
    left:890px;
    top: 62vh;
    width: 151px;
    height: 12vh;
    
    transition: 1s;
    
}
.btnImageStandPdf {
    left:-20px;
    top: -80%;
}
.saibaMais div{
    display: flex;
    
    align-items: center;
    border-radius: 25px;
    width: 180px;
    height: 40px;
    background-color: rgb(0, 134, 0);
    color: aliceblue;
    font-size: 20px;
}
@keyframes pulseShadow {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(0, 134,0,0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgb(255, 153, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.saibaMais div p{
    margin-left: 20px;
}
.telaEntradaLinkStand{
    
    width: 40px;
    height: 40px;
    margin-left: 142px;
}
@media only screen and (orientation: landscape) and (max-height: 600px) {

    /* logo */
    .logoStand{
        
        
        left:46%;
        top: 22%;
        width:  103px;
        height: 63px;
        
        
       
        
        cursor: pointer;
        
        z-index: 100;
    }
    .logoStand a{
        width: 100%;
    }
    
    .imgLogoStand{
        background-position: center;
        background-size: contain;
        width: 103px;
        height: 63px;
          
        background-repeat: no-repeat;
    }
    /* fim logo */

    /* video */
    .divVideoStand{
        
        
        left:30%;
        top: 40%;
        width: 168px;
        height: 95px;
        
    }
    
    
    .btnImageStand{
        
        left:-5px;
        top: -60%;
        width: 150px;
        height: 100px;
    }
    .btnPlayStand{
        
        left:55px;
        top: 18px;
        
        
        width: 30px;
        height: 30px;
        
        
        border-radius: 100%;
        
    }

    /* fim video */
    /* site */
    .divSiteStand{
        
        
        left:32%;
        top: 86%;
        
        z-index: 200;
    }
    .saibaMais div{
        
        width: 90px;
        height: 20px;
       
        font-size:10px;
    }
    .saibaMais div p{
        margin-left: 10px;
    }
    .telaEntradaLinkStand{
    
        width: 20px;
        height: 20px;
        margin-left: 70px;
    }
    .btnImageStandLink {
        width: 150%;
        left:-28px;
        top: -50%;
    }
    /* fim site */
    /* pdf */
    .divPdfStand{
        
        
        left:46.5%;
        top: 66%;
        width: 70px;
        height: 47px;
        
        
        
    }
    .btnImageStandPdf {
        left:-40px;
        top: -158%;
        width: 150px;
    }
   
    /* fim pdf */
    
}

