/* stand Vermelho */

.logoStand{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    left:200px;
    top: 15.2%;
    width: 254px;
    height: 161px;
    
    cursor: pointer;
    
    z-index: 100;
}
.logoStand a{
    width: 100%;
}
.logoStand a img{
    width: 100%;
}
.imgLogoStand{
    background-position: center;
    background-size: contain;
    width: 254px;
    height: 161px;
    background-repeat: no-repeat;
}
.btnImageStand{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left:-10px;
    top: -90%;
    z-index: 6;
    
    width: 200px;
    height: 100px;
}
.btnPlayStand{
    position: absolute;
    left:60px;
    top: 20px;
    
    
    width: 50px;
    height: 50px;
    background-image: url("./../../icons/playVermelho.png");

    
    border-radius: 50%;
    animation: pulseShadow 2s infinite;
    box-shadow: 0 0 0 0 rgb(255, 153, 0);
}
@keyframes pulseShadow {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(170, 71,71,0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgb(255, 153, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.divVideoStand{
    position: absolute;
    z-index:1;
    
    left:465px;
    top: 47%;
    width: 167px;
    height: 94px;
    
    transition: 1s;
}
.divSiteStand{
    position: absolute;
    z-index:1;
    
    left:750px;
    top: 47%;
    width: 95px;
    height: 95px;
    
    transition: 1s;
    
}

.divPdfStand{
    position: absolute;
    z-index:1;
    
    left:1080px;
    top: 47.5%;
    width: 188px;
    height: 125px;
    
    transition: 1s;
    
}
.btnImageStandPdf {
    left:-10px;
    top: -80%;
}
.btnImageStandLink {
    left:-10px;
    top: -90%;
}
.saibaMais div{
    display: flex;
    
    align-items: center;
    border-radius: 25px;
    width: 180px;
    height: 40px;
    background-color: rgb(170, 71, 71);
    color: aliceblue;
    font-size: 20px;
}
.saibaMais div p{
    margin-left: 20px;
}
.telaEntradaLinkStand{
    
    width: 40px;
    height: 40px;
    margin-left: 142px;
}