/* stand Vermelho */

.logoStand{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    left:200px;
    top: 15vh;
    width: 254px;
    height: 161px;
    
    cursor: pointer;
    
    z-index: 100;
}
.logoStand a{
    width: 100%;
}
.logoStand a img{
    width: 100%;
}
.imgLogoStand{
    background-position: center;
    background-size: contain;
    width: 254px;
    height: 15vh;
    background-repeat: no-repeat;
}
.btnImageStand{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left:-10px;
    top: -90%;
    z-index: 6;
    
    width: 200px;
    height: 100px;
}
.btnPlayStand{
    position: absolute;
    left:60px;
    top: 20px;
    
    
    width: 50px;
    height: 50px;
    background-image: url("./../../icons/playVermelho.png");

    
    border-radius: 50%;
    animation: pulseShadow 2s infinite;
    box-shadow: 0 0 0 0 rgb(255, 153, 0);
}
@keyframes pulseShadow {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(170, 71,71,0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgb(255, 153, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.divVideoStand{
    position: absolute;
    z-index:1;
    
    left:465px;
    top: 47vh;
    width: 167px;
    height: 94px;
    
    transition: 1s;
}
.divSiteStand{
    position: absolute;
    z-index:1;
    
    left:750px;
    top: 45vh;
    width: 95px;
    height: 95px;
    
    transition: 1s;
    
}

.divPdfStand{
    position: absolute;
    z-index:1;
    
    left:1080px;
    top: 48vh;
    width: 151px;
    height: 12vh;
    
    transition: 1s;
    
}
.btnImageStandPdf {
    left:-20px;
    top: -80%;
}
.btnImageStandLink {
    left:-10px;
    top: -90%;
}
.saibaMais div{
    display: flex;
    
    align-items: center;
    border-radius: 25px;
    width: 180px;
    height: 40px;
    background-color: rgb(170, 71, 71);
    color: aliceblue;
    font-size: 20px;
}
.saibaMais div p{
    margin-left: 20px;
}
.telaEntradaLinkStand{
    
    width: 40px;
    height: 40px;
    margin-left: 142px;
}
@media only screen and (orientation: landscape) and (max-height: 600px) {

    /* logo */
    .logoStand{
        
        
        left:18%;
        top: 10%;
        width:  103px;
        height: 63px;
        
        
       
        
        cursor: pointer;
        
        z-index: 100;
    }
    .logoStand a{
        width: 100%;
    }
    
    .imgLogoStand{
        background-position: center;
        background-size: contain;
        width: 103px;
        height: 63px;
          
        background-repeat: no-repeat;
    }
    /* fim logo */

    /* video */
    .divVideoStand{
        
        
        left:20%;
        top: 43%;
        width: 168px;
        height: 95px;
        
    }
    
    
    .btnImageStand{
        
        left:-5px;
        top: -60%;
        width: 150px;
        height: 100px;
    }
    .btnPlayStand{
        
        left:55px;
        top: 18px;
        
        
        width: 30px;
        height: 30px;
        
        
        border-radius: 100%;
        
    }

    /* fim video */
    /* site */
    .divSiteStand{
        
        
        left:42%;
        top: 40%;
        
        z-index: 200;
    }
    .saibaMais div{
        
        width: 90px;
        height: 20px;
       
        font-size:10px;
    }
    .saibaMais div p{
        margin-left: 10px;
    }
    .telaEntradaLinkStand{
    
        width: 20px;
        height: 20px;
        margin-left: 70px;
    }
    .btnImageStandLink {
        width: 150%;
        left:-28px;
        top: -80%;
    }
    /* fim site */
    /* pdf */
    .divPdfStand{
        
        
        left:60%;
        top: 49%;
        width: 70px;
        height: 47px;
        
        
        
    }
    .btnImageStandPdf {
        left:-40px;
        top: -158%;
        width: 150px;
    }
   
    /* fim pdf */
    
}

@media screen and (max-width:750px) {
    .logoStand{
        
        
        left:200px;
        top: 13vh;
        width: 254px;
        height: 161px;
        z-index: 100;
    }
    .logoStand a{
        width: 100%;
    }
    .logoStand a img{
        width: 100%;
    }
    .imgLogoStand{
        background-position: center;
        background-size: contain;
        width: 24vh;
        height: 14vh;
        background-repeat: no-repeat;
    }
    .divVideoStand{
       
        
        left:36vh;
        top: 47vh;
        width: 167px;
        height: 94px;
        
        
    }
    .btnImageStand{
        
        left:-20px;
        top: -90%;
       
    }
    .btnPlayStand{
        
        
        left:35%;
        top: 20px;
        width: 5vh;
        height: 5vh;
        
    }
    .divSiteStand{
        
        
        left:65vh;
        top: 41vh;
        
        
    }
    .divPdfStand{
        
        
        left:90vh;
        top: 48.5vh;
        height: 12vh;
        width: 20vh;
        
    }
    .btnImageStandPdf {
        left:-30px;
        top: -100%;
    }
    .saibaMais div{
        
        border-radius: 25px;
        width: 120px;
        height: 27px;
        
        font-size:15px;
    }
    .telaEntradaLinkStand{
    
        width: 27px;
        height: 27px;
        margin-left: 98px;
    }
}